* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #000;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
  margin: 0;
  padding: 0;
}
